@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.dark-ant-modal .ant-modal-container {
  background: #1e1e1e!important;
}

.dark-ant-modal .ant-modal-title {
  color: white;
}

.dark-ant-modal .ant-modal-close-x {
  color: white;
}

.dark-ant-modal .ant-form-item-label > label {
  color: white;
}

.dark-ant-modal .ant-checkbox-wrapper {
  color: white;
}
.dark-ant-modal .ant-input,
.dark-ant-modal .ant-input-number,
.dark-ant-modal .ant-select,
.dark-ant-modal .ant-select-selector,
.dark-ant-modal .ant-picker {
  background: #18181b;
  border: 1px solid #3f3f46;
  color: white;
}

.dark-ant-modal .ant-input::placeholder {
  color: #a1a1aa;
}
.actnicon {
  margin-top: 15px;
}